//////////// Nav & Title ////////////

.landing {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1180px;
  margin-bottom: 100px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.logo {
  margin-top: 0px;
}

.landing-header {
  font-size: 48px;
  margin: 0px 0 8px 0;
  font-family: "Tiempos", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.page-subhead {
  font-size: 1.25rem;
  margin-bottom: 48px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

//////////// Cards & Container ////////////

.issue-container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  // grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
}

.card {
  background-color: white;
  border: 2px solid #00000015;
  border-radius: 8px;
  aspect-ratio: 8.5 / 11;
  padding: 12px;
  position: relative;
  transition: transform 0.3s;
  overflow: hidden;
  min-width: 160px;
  cursor: pointer;
}

.card-title {
  font-family: "Tiempos", sans-serif;
  font-size: 36px;
  margin: 0 0 8px 0;
  line-height: normal;
  color: white;
}

.card-subhead {
  font-size: 18px;
  font-family: "Tiempos", sans-serif;
  // text-transform: uppercase;
  // font-family: monospace;
  // margin-top: 0;
  color: white;
}

.card:hover {
  transform: scale(1.02);
  /* Make card bigger on hover */
}

.flexer {
  display: flex;
}

//////////// Individual Cards ////////////

.card-1 {
  background: #e74018;
  background-image: url("./static/red-garden.png");
  background-size: cover;
  overflow: visible;
}

.card-2 {
  background: #d6a97d;
  background-image: url("./static/tan-garden.png");
  background-size: cover;
}

.card-3 {
  background: #00a16c;
  background-image: url("./static/dollar-garden.png");
  background-size: cover;
}

.card-4 {
  background: #ad7e95;
  background-image: url("./static/purple-garden.png");
  background-size: cover;
}

.card-soil {
  background: #8c6962;
  background-image: url("./static/soil.png");
  background-size: cover;
  // grid-column: 1 / -1;
  // height: 100px;
}

//////////////// Recent Notes ////////////////

.recent-notes {
  padding-right: 50px;
  min-width: 300px;
  max-width: 150px;
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1.25rem;
    font-style: bold;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 1rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}

//////////////// Responsiveness ////////////////

@media screen and (max-width: 1510px) {
  .issue-container {
    grid-template-columns: repeat(2, 250px);
  }
  .navbar {
    max-width: 915px;
  }

  .recent-notes {
    width: 250px;
  }
}

/* media queries */
@media screen and (max-width: 1200px) {
  .issue-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  .navbar {
    max-width: 885px;
  }
}

@media screen and (max-width: 750px) {
  // .issue-container {
  //   grid-template-columns: repeat(1, minmax(250px, 1fr));
  //   gap: 8px;
  // }

  .recent-notes {
    display: none;
  }
  .flexer {
    flex-direction: column-reverse;
  }
}
