.landing {
  width: 100%;
  max-width: 2048px;
  margin: 0 auto;
  padding: 0 15px;
}

.landing-header {
  font-size: 48px;
  margin: 0px 0 8px 0;
  font-family: "Tiempos", sans-serif;
  font-weight: 700;
  line-height: normal;
}

.page-subhead {
  font-size: 14px;
  margin-bottom: 48px;
  font-family: var(--codeFont);
  // text-transform: uppercase;
}

hr.solid {
  border-top: 3px solid #bbb;
}

/* ISSUE CARDS */
.issue-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
}

.card {
  background-color: white;
  border: 2px solid #00000015;
  border-radius: 8px;
  aspect-ratio: 8.5 / 11;
  padding: 12px;
  position: relative;
  transition: transform 0.3s;
  overflow: hidden;
  min-width: 160px;
  cursor: pointer;
}

.header-card {
  width: 100px;
  margin: 1em 0 0;
  display: inline-grid;
}

.card-title {
  font-family: "Tiempos", sans-serif;
  font-size: 36px;
  margin: 0 0 8px 0;
  line-height: normal;
  color: white;
}

.card-subhead {
  font-size: 18px;
  font-family: "Tiempos", sans-serif;
  // text-transform: uppercase;
  // font-family: monospace;
  // margin-top: 0;
  color: white;
}

.card:hover {
  transform: scale(1.02);
  /* Make card bigger on hover */
}

.card-1 {
  background: #e74018;
  background-image: url("./static/red-garden.png");
  background-size: cover;
  overflow: visible;
}

.card-2 {
  background: #d6a97d;
  background-image: url("./static/tan-garden.png");
  background-size: cover;
}

.card-3 {
  background: #00a16c;
  background-image: url("./static/dollar-garden.png");
  background-size: cover;
}

.card-4 {
  background: #ad7e95;
  background-image: url("./static/purple-garden.png");
  background-size: cover;
}

.card-soil {
  background: #8c6962;
  background-image: url("./static/soil.png");
  background-size: cover;
  // grid-column: 1 / -1;
  // height: 100px;
}

/* media queries */
@media screen and (max-width: 1400px) {
  .card-title {
    font-size: 24px;
  }
}

.flexer {
  display: flex;
}

.recent-notes {
  padding-right: 50px;
  min-width: 300px;
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1.25rem;
    font-style: bold;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 1rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-card {
    width: 300px;
  }

  .recent-notes {
    min-width: 250px;
    max-width: 250px;
  }

  .content-container {
    width: 95%;
    margin: 0 auto;
  }

  .issue-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }

  .card {
    aspect-ratio: 10 / 2;
    overflow: hidden;
  }

  .card-illustration-1,
  .card-illustration-2,
  .card-illustration-3,
  .card-illustration-4,
  .card-illustration-5 {
    width: 25%;
  }

  .card-illustration-1 {
    left: unset;
    right: 60px;
  }
  .card-illustration-2 {
    left: unset;
    right: 40px;
  }
  .card-illustration-3 {
    left: unset;
    top: 15px;
    right: 100px;
  }
  .card-illustration-4 {
    left: unset;
    top: 15px;
    right: 60px;
  }
}

@media screen and (max-width: 750px) {
  .recent-notes {
    // min-width: 300px;
    // max-width: none;
    display: none;
  }
  .flexer {
    flex-direction: column-reverse;
  }
}
